<section class="card">
  <a href="/animals/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/images{{filename}}" alt="{{breed}}">
    <p>DONT SHOP. ADOPT </p>
    
    </div>
  </a>
</section>