<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats and Dogs</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  

</head>

<body>
    <header>
        <h1> Look at all the good boys and girls!</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/pets/2">Dogs</a>
        <a href="/pets/1">Cats</a>
        {{!-- <a href="/animals">Animals</a> --}}
    </nav>
   <main>
    <aside>
      <h2>Which would you like to see?</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <footer>
            <h4>Links and Contact details: </h4>

            <nav>
                <ul>
                  
                    <li>
                        <a href="mailto: petstore@pets-dogs-cats.com">Send Email</a>
                    </li>
                    <li>
                    <a href="tel: +xxxxxxxxxx">CALL US: +1(800)DOG-CATS</a></li>
                </ul>
            </nav>
        </footer>
</body>


</html>