<section class="container">
  <h3 class="gallery-name">{{pets.name}}</h3>
  <h4>{{pets.title}}</h4>
  <h4>{{pets.description}}</h4>
  <section class="flex-row justify-center">
    {{#each pets.animals as |animal|}}
    {{> animals-details}}
    {{/each}}
  </section>
</section>